<div>
    <div class="todo-header-container">
        <h1 class="todo-header-title">Angular todolist</h1>
        <label>
            <input type="text" class="todo-header-input" placeholder="Enter todolist title"
                   [(ngModel)]="todolistTitle">
        </label>
        <button class="todo-btn" (click)="addTodolist()">Add todo</button>
    </div>

    <div class="todo-wrapper">
        <div class="todo-container" *ngFor="let todolist of todolists">
            <h2>{{ todolist.title }}</h2>
            <div class="todo-form-container">
                <input type="text" class="todo-input" placeholder="enter task">
                <button class="todo-btn">Add task</button>
            </div>

            <div>
                <app-task></app-task>
                <app-task></app-task>
                <app-task></app-task>
            </div>
            <div>
                <p>Дата добавления: <b>{{  todolist.addedDate | date: 'longDate' }}</b></p>
                <small>Order: {{ todolist.order }}</small>
            </div>
        </div>
    </div>
</div>
