.todo-header-container {
    text-align: center;
    margin: 0 auto 30px;
}

.todo-header-title {
    margin: 20px;
    font-size: 52px;
}

.todo-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.todo-container {
    border: 2px solid grey;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
}

.todo-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.todo-header-input {
    box-sizing: border-box;
    width: 50%;
    padding: 15px;
    border: 2px solid darkgrey;
    margin-right: 10px;
}

.todo-not-found {
    text-align: center;
}

