<div class="todo-header-container">
    <h1 class="todo-header-title">Angular todolist</h1>
    <label>
        <input type="text"
               class="todo-header-input"
               placeholder="Enter todolist title"
               [(ngModel)]="todolistTitle"
               (keyup.enter)="addTodolist()"
        >
    </label>
    <button class="todo-btn" (click)="addTodolist()">Add todo</button>
</div>

<div *ngIf="!loadingTodolists; else loadingTodos">
    <div class="todo-wrapper" *ngIf="todolists.length; else todoNotFound">
        <div class="todo-container" *ngFor="let todolist of todolists">

            <div>
                <div *ngIf="todoTitleEditModeId !== todolist.id; else updateTodoTitleRef">
                    <div class="todo-inner-container">
                        <h2 (dblclick)="changeTodoTitleEditMode(todolist.id)">{{ todolist.title }}</h2>
                        <button class="todo-btn  btn-del" (click)="deleteTodolist(todolist.id)">X</button>
                    </div>
                </div>
                <ng-template #updateTodoTitleRef>
                    <div>
                        <label>
                            <input
                                type="text"
                                class="todo-input  todo-input-new-title"
                                placeholder="Enter new title"
                                value="{{ todolist.title }}"
                                [(ngModel)]="todolist.title"
                                (blur)="updateTodoTitle(todolist.id, todolist.title)"
                            >
                        </label>
                    </div>
                </ng-template>
            </div>

            <div>
                <app-task [todolistId]="todolist.id"></app-task>
            </div>

            <div>
                <p>Дата добавления: <b>{{  todolist.addedDate | date: 'longDate' }}</b></p>
                <small>Order: {{ todolist.order }}</small>
            </div>
        </div>
    </div>
    <ng-template #todoNotFound>
        <h1 class="todo-not-found">Todolists not found. Enter todo title and create new todo</h1>
    </ng-template>
</div>
<ng-template #loadingTodos>
    <h1 class="center">Loading...</h1>
</ng-template>





