<div class="todo-form-container">
    <label>
        <input
            type="text"
            class="todo-input"
            placeholder="enter task"
            [(ngModel)]="taskTitle"
            (keyup.enter)="createTask(taskTitle)"
        >
    </label>
    <button class="todo-btn  todo-btn-task" (click)="createTask(taskTitle)">Add task</button>
</div>
<div *ngIf="!isTaskLoading; else loading" >
    <div *ngIf="tasks.length; else taskNotFound">
        <div *ngFor="let task of tasks" class="todo-task-wrapper">
            <div class="todo-task-container">
                <div class="todo-task-inner-container">
                    <label>
                        <input
                            type="checkbox"
                            [checked]="task.completed"
                            [(ngModel)]="task.completed"
                            (input)="changeCompletedTaskStatus($event, task.id)"
                        >
                    </label>

                    <div *ngIf="!taskTitleEditMode; else editTaskTitle">
                        <b
                            [ngClass]="{'task-completed': task.completed}"
                            (dblclick)="changeTaskTitleEditMode()"
                        >{{ task.title }}
                        </b>
                    </div>
                    <ng-template #editTaskTitle>
                        <input
                            type="text"
                            value="{{task.title}}"
                            [(ngModel)]="task.title"
                            (change)="task.title"
                            (blur)="changeTaskTitle($event, task.id)"
                        >
                    </ng-template>

                </div>
                <button class="btn-del  btn-del-task" (click)="deleteTask(task.id)">Х</button>
            </div>
            <p class="todo-date">{{ task.addedDate | date: 'short'}}</p>
        </div>
    </div>

    <ng-template #taskNotFound>
        <p class="center">{{'Tasks not found' | uppercase  }}</p>
    </ng-template>
</div>
<ng-template #loading>
    <p class="center">Loading...</p>
</ng-template>
