.todo-task-wrapper {
    margin: 20px 0;
}

.todo-task-inner-container {
    display: flex;
    justify-content: flex-start;
}

.todo-date {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.todo-items-left {
    margin: 0;
}
