/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* Font Family */
html, body {
    font-family: 'Open Sans', sans-serif;
}

/*INPUT*/
.todo-input {
    padding: 10px;
    border: 2px solid lightgrey;
}

.todo-input-new-title {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/*BUTTONS*/
.todo-btn {
    width: 100px;
    background-color: lightgrey;
    border: 2px solid lightgrey;
    padding: 15px;
}

.todo-btn-task {
    padding: 0;
}

.btn-del {
    width: 50px;
    height: 50px;
    background-color: crimson;
    color: white;
    border: 2px solid crimson;
}

.btn-del-task {
    width: 30px;
    height: 30px;
}

/*CENTER*/
.center {
    text-align: center;
}
